.side-drawer{
    height: 100%;
    background-color: #2f353a;
    /* box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5); */
    position: fixed;
    left:0;
    /* width: 50%;
    max-width: 200px; */
    z-index: 200;
    transform: translateX(-100%); 
    transition: transform 0.3s ease-out;
    margin: 0;
    padding: 0;
}
.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.side-drawer li {
    transition: background .3s ease-in-out;
    padding: .75rem 1rem;
}
.side-drawer a {
    color:white;
    text-decoration: none;
}
.side-drawer ul li:hover {
    background: #20a8d8;
}
.side-drawer a:hover,
.side-drawera:active {
    color: white;
}
.side-drawer.open {
   transform: translateX(0); 
}
.side-drawer.open {
    transform: translateX(0); 
 }

/* @media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
} */
/* @media screen and (max-width: 768px) {
    .side-drawer {
        display:none;
    }    
} */